In [1]:
# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

In [2]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from src.config import HOME_PATH, get_common_barcodes

In [3]:
df = pd.read_csv(get_common_barcodes(), sep="\t")
df.head()

,Target,Alias,Gene,Barcode,Filtered,Counts,Corr_Within,Corr_Between,log10Count
0,T1,MB01,0610009B22Rik,0610009B22Rik-1,0,2247.0,0.952007,0.910326,3.351603
1,T1,MB01,0610009B22Rik,0610009B22Rik-2,0,2792.0,0.962390,0.939419,3.445915
2,T1,MB01,0610009B22Rik,0610009B22Rik-3,0,3907.0,0.966884,0.952470,3.591843
3,T1,MB01,0610009B22Rik,0610009B22Rik-4,0,3757.0,0.968739,0.955281,3.574841
4,T1,MB01,0610009B22Rik,0610009B22Rik-5,0,2549.0,0.965979,0.959352,3.406370

In [4]:
df[df["Filtered"] == 0]["Barcode"].shape

(426862,)

In [5]:
genesubset2 = pd.read_csv(HOME_PATH + "/repos/MUSICian/src/data/GeneSubset2.txt", sep="\t")["Gene"]
genesubset2.head()

0        Dut
1    Faap100
2      Fanca
3      Fancb
4      Fancc
Name: Gene, dtype: object

In [6]:
genesubsetSD30 = pd.read_csv(HOME_PATH + "/repos/MUSICian/src/data/GeneSubsetSD30.txt", sep="\t")["Gene"]
genesubsetSD30.shape

(628,)

In [7]:
from src.config import get_hussmann_supplementary_xlsx

hussmann_repair_genes = pd.read_excel(get_hussmann_supplementary_xlsx(4), sheet_name="Table S4", skiprows=1)["Gene"].str.lower()
hussmann_repair_genes.shape

(476,)

In [8]:
df.shape

(536765, 9)

In [9]:
filtered_df = df.set_index(["Alias", "Gene", "Barcode"])
filtered_df["Filtered"] = filtered_df["Filtered"].isin([1,2,3,4])
# filtered_df = filtered_df.set_index(["Alias", "Gene", "Barcode"])
filtered_df = filtered_df["Filtered"].groupby("Gene").all()

In [10]:
filtered_genes = filtered_df[filtered_df].index.unique().to_list()

In [11]:
print(len(filtered_genes))
print(len(genesubset2))
genes_to_check = np.intersect1d(filtered_genes, genesubset2)
genes_to_check

378
52

array(['Mad2l2', 'Tonsl'], dtype=object)

In [12]:
print(len(filtered_genes))
print(len(genesubsetSD30))
genes_to_checkSD30 = np.intersect1d(filtered_genes, genesubsetSD30)
genes_to_checkSD30.shape

378
628

(95,)

In [13]:
print(len(filtered_genes))
print(len(hussmann_repair_genes))
genes_to_check_hussmann = np.intersect1d(np.char.lower(filtered_genes), hussmann_repair_genes)
genes_to_check_hussmann.shape

378
476

(20,)

In [14]:
genes_to_checkSD30

array(['Aars', 'Actr10', 'Arl2', 'Aurka', 'Aurkb', 'Banf1', 'Bccip',
       'Cct4', 'Cdc37', 'Cdk1', 'Cenpk', 'Cept1', 'Cfap298', 'Cinp',
       'Cpsf3', 'Cse1l', 'Ddx47', 'Ddx49', 'Ddx52', 'Dpagt1', 'Dtl',
       'Dynll1', 'Eif1ad', 'Eif4a1', 'Emg1', 'Exosc8', 'Fnta', 'Ggps1',
       'Gtf2a2', 'Hspa9', 'Hspd1', 'Krr1', 'Mad2l1', 'Mdm2', 'Med6',
       'Med8', 'Mtrex', 'Napa', 'Nat10', 'Nhp2', 'Nol6', 'Nsf', 'Nuf2',
       'Orc6', 'Pafah1b1', 'Pes1', 'Pfdn6', 'Polr1b', 'Polr1f', 'Polr2a',
       'Polr2g', 'Polr2j', 'Ppp1r11', 'Ppp4c', 'Prelid1', 'Prpf8',
       'Psma3', 'Psmb6', 'Psmc4', 'Psmd14', 'Qars', 'Riok2', 'Rplp0',
       'Rps5', 'Rrs1', 'Sars', 'Sf1', 'Smc1a', 'Snapc4', 'Snrnp35',
       'Snrpg', 'Sod1', 'Srp72', 'Ssu72', 'Taf2', 'Thoc1', 'Timm10',
       'Tinf2', 'Tma16', 'Tonsl', 'Top3a', 'Trmt112', 'Tubb5', 'Tut1',
       'Txnl4b', 'Uba2', 'Utp4', 'Utp6', 'Vezt', 'Vmn1r167', 'Wdr12',
       'Wdr82', 'Ykt6', 'Zcchc9', 'Zfp944'], dtype=object)

In [15]:
genes_to_check_hussmann

array(['cdk1', 'dtl', 'gpn1', 'gtf2h2', 'hmgb1', 'mad2l2', 'mdm2',
       'nat10', 'pcna', 'rpa3', 'smc1a', 'ssbp1', 'ssrp1', 'sumo2',
       'thoc1', 'tonsl', 'top3a', 'uba2', 'ube2i', 'usp7'], dtype=object)

In [16]:
df[(df["Gene"].str.lower().isin(genes_to_check_hussmann))].set_index(["Gene", "Barcode", "Alias"]).sort_values(by="Gene")

                   Target  Filtered  Counts  Corr_Within  Corr_Between  \
Gene Barcode Alias
Cdk1 Cdk1-1  MB01      T1         1   175.0          NaN           NaN
     Cdk1-3  MB02      T1         1   263.0          NaN           NaN
     Cdk1-4  MB02      T1         1   160.0          NaN           NaN
     Cdk1-5  MB02      T1         1   303.0          NaN           NaN
     Cdk1-1  MB03      T2         1   324.0          NaN           NaN
...                   ...       ...     ...          ...           ...
Usp7 Usp7-1  MB01      T1         2    49.0          NaN           NaN
             MB05      T3         1    56.0          NaN           NaN
     Usp7-2  MB05      T3         1   416.0          NaN           NaN
     Usp7-5  MB01      T1         2  1022.0          NaN           NaN
             MB06      T3         1   991.0          NaN           NaN

                    log10Count
Gene Barcode Alias
Cdk1 Cdk1-1  MB01     2.243038
     Cdk1-3  MB02     2.419956
     Cdk1-4  MB02     2.204120
     Cdk1-5  MB02     2.481443
     Cdk1-1  MB03     2.510545
...                        ...
Usp7 Usp7-1  MB01     1.690196
             MB05     1.748188
     Usp7-2  MB05     2.619093
     Usp7-5  MB01     3.009451
             MB06     2.996074

[541 rows x 6 columns]

In [17]:
df["Filtered_by_1"] = False
df["Filtered_by_1"] = (df["Filtered"] > 0) & (df["Filtered"] <= 1)

df["Filtered_by_2"] = False
df["Filtered_by_2"] = (df["Filtered"] > 0) & (df["Filtered"] <= 2)

df["Filtered_by_3"] = False
df["Filtered_by_3"] = (df["Filtered"] > 0) & (df["Filtered"] <= 3)

df["Filtered_by_4"] = False
df["Filtered_by_4"] = (df["Filtered"] > 0) & (df["Filtered"] <= 4)

df["Filtered_by_5"] = False
df["Filtered_by_5"] = (df["Filtered"] > 0) & (df["Filtered"] <= 5)

In [18]:
df[df["Gene"].isin(genes_to_checkSD30)].set_index(["Alias", "Gene", "Barcode"])["Filtered_by_3"].groupby(["Alias"]).sum()#.sum(level="Alias")

Alias
MB01    450
MB02    447
MB03    453
MB04    451
MB05    451
MB06    452
Name: Filtered_by_3, dtype: int64

In [19]:
df[df["Gene"].isin(genes_to_checkSD30) & df["Filtered"].isin([0,5])]["Gene"].unique().shape

(0,)

In [23]:
df[df["Gene"].str.lower().isin(genes_to_check_hussmann)].groupby([ "Filtered", "Alias"]).size()

Filtered  Alias
1         MB01     86
          MB02     85
          MB03     61
          MB04     61
          MB05     86
          MB06     86
2         MB01      4
          MB02      4
          MB03     29
          MB04     29
          MB05      5
          MB06      5
dtype: int64

In [22]:
df[df["Gene"].isin(genes_to_checkSD30)]

,Target,Alias,Gene,Barcode,Filtered,Counts,Corr_Within,Corr_Between,log10Count,Filtered_by_1,Filtered_by_2,Filtered_by_3,Filtered_by_4,Filtered_by_5
1663,T1,MB01,Aars,Aars-1,1,271.0,NaN,NaN,2.432969,True,True,True,True,True
1664,T1,MB01,Aars,Aars-2,1,584.0,NaN,NaN,2.766413,True,True,True,True,True
1665,T1,MB01,Aars,Aars-3,1,238.0,NaN,NaN,2.376577,True,True,True,True,True
1666,T1,MB01,Aars,Aars-4,1,146.0,NaN,NaN,2.164353,True,True,True,True,True
1667,T1,MB01,Aars,Aars-5,1,246.0,NaN,NaN,2.390935,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534291,T3,MB06,Zcchc9,Zcchc9-4,1,575.0,NaN,NaN,2.759668,True,True,True,True,True
534292,T3,MB06,Zcchc9,Zcchc9-5,1,298.0,NaN,NaN,2.474216,True,True,True,True,True
536054,T3,MB06,Zfp944,Zfp944-3,1,271.0,NaN,NaN,2.432969,True,True,True,True,True
536055,T3,MB06,Zfp944,Zfp944-4,1,802.0,NaN,NaN,2.904174,True,True,True,True,True
536056,T3,MB06,Zfp944,Zfp944-5,1,348.0,NaN,NaN,2.541579,True,True,True,True,True