In [1]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from src.data.load_dataset import load_lumc_outcomes
from src.config import get_common_barcodes

In [2]:
# takes about 6 minutes to load the data into memory
df = load_lumc_outcomes()
df.head()

/Users/colm/repos/MUSICian/src/data/load_dataset.py:80: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  totals = df_idx[["fraction_per_barcode"]].sum(level=["Target", "Alias", "Gene", "Barcode"])

Normalised per Gene

                                            fraction_per_barcode  \
Target Alias Gene          Barcode
T1     MB01  0610009B22Rik 0610009B22Rik-1              0.056075
                           0610009B22Rik-1              0.001780
                           0610009B22Rik-1              0.013351
                           0610009B22Rik-1              0.002225
                           0610009B22Rik-1              0.024477

                                                lumc_category  del_len  \
Target Alias Gene          Barcode
T1     MB01  0610009B22Rik 0610009B22Rik-1  1bp insertion - A        0
                           0610009B22Rik-1  1bp insertion - C        0
                           0610009B22Rik-1  1bp insertion - G        0
                           0610009B22Rik-1  1bp insertion - T        0
                           0610009B22Rik-1     >1bp insertion        0

                                            countEvents
Target Alias Gene          Barcode
T1     MB01  0610009B22Rik 0610009B22Rik-1          126
                           0610009B22Rik-1            4
                           0610009B22Rik-1           30
                           0610009B22Rik-1            5
                           0610009B22Rik-1           55

In [20]:
counts = df.groupby(["Target", "Gene"]).sum()

In [23]:
counts.xs("Xrcc1", level="Gene")

        fraction_per_barcode  del_len  countEvents
Target
T1                      10.0     5095        19824
T2                      10.0     4480        30214
T3                      10.0     5055        24427