In [1]:
import pandas as pd
import numpy as np
from src.config import get_common_barcodes, get_interim_dir, get_hussmann_supplementary_xlsx, HOME_PATH

In [2]:
filtered_barcodes = pd.read_csv(get_common_barcodes(), sep="\t")
filtered_barcodes.head()

,Target,Alias,Gene,Barcode,Filtered,Counts,Corr_Within,Corr_Between
0,T1,MB01,0610009B22Rik,0610009B22Rik-1,0,2247.0,0.802124,0.719819
1,T1,MB01,0610009B22Rik,0610009B22Rik-2,0,2792.0,0.861144,0.841499
2,T1,MB01,0610009B22Rik,0610009B22Rik-3,0,3907.0,0.894923,0.900597
3,T1,MB01,0610009B22Rik,0610009B22Rik-4,0,3757.0,0.886405,0.779313
4,T1,MB01,0610009B22Rik,0610009B22Rik-5,0,2549.0,0.920184,0.844981

In [3]:
filtered_barcodes.groupby(["Target", "Alias"]).mean()["Counts"].mean()

2468.9464822704062

In [4]:
filtered_barcodes[~filtered_barcodes["Filtered"].isin([1, 2, 3, 4]) ].groupby(["Target", "Alias"]).size()

Target  Alias
T1      MB01     60975
        MB02     63347
T2      MB03     79401
        MB04     80646
T3      MB05     78675
        MB06     78037
dtype: int64

In [5]:
filtered_barcodes[~filtered_barcodes["Filtered"].isin([1, 2, 3]) ].groupby(["Target", "Alias", "Gene"]).sum().groupby(["Target", "Alias"]).size()

Target  Alias
T1      MB01     17130
        MB02     17251
T2      MB03     18090
        MB04     18144
T3      MB05     18134
        MB06     18095
dtype: int64

In [6]:
filtered_barcodes["Barcode"].nunique()

89571

In [7]:
filtered_barcodes["Gene"].nunique()

18406

In [8]:
filtered_barcodes[filtered_barcodes["Filtered"].isin([0, 5])]["Gene"].nunique()

18220

In [9]:
filtered_barcodes[filtered_barcodes["Filtered"].isin([0, 5])].groupby(["Target", "Alias"]).size()

Target  Alias
T1      MB01     60975
        MB02     63347
T2      MB03     79401
        MB04     80646
T3      MB05     78675
        MB06     78037
dtype: int64

In [10]:
filtered_barcodes[filtered_barcodes["Filtered"].isin([0, 5])].groupby(["Target", "Alias", "Gene"]).sum().groupby(["Target", "Alias"]).size()

Target  Alias
T1      MB01     17004
        MB02     17135
T2      MB03     18089
        MB04     18140
T3      MB05     18133
        MB06     18092
dtype: int64

In [11]:
filtered_barcodes["Excluded"] = filtered_barcodes["Filtered"] > 0
excluded_genes = filtered_barcodes.groupby(["Alias", "Gene"]).all()["Excluded"]
excluded_genes = excluded_genes[excluded_genes]
excluded_genes.groupby("Alias").sum()

Alias
MB01    1404
MB02    1270
MB03     375
MB04     327
MB05     281
MB06     322
Name: Excluded, dtype: int64

In [12]:
filtered_barcodes[filtered_barcodes["Alias"] == "MB01"]["Filtered"].value_counts()

0    60960
1    14196
3     9954
4     3725
2      564
5       15
Name: Filtered, dtype: int64

In [13]:
genesubset2 = pd.read_csv(HOME_PATH + "/repos/MUSICian/src/data/GeneSubset2.txt", sep="\t")["Gene"]

In [14]:
print(sorted(genesubset2[~np.isin(genesubset2, filtered_barcodes["Gene"].str.capitalize())]))

['H2afx', 'H2afx', 'Rad54']

In [15]:
sorted(filtered_barcodes["Gene"][filtered_barcodes["Gene"].str.lower().str.contains("h2a")].unique())

['H2ab2',
 'H2ab3',
 'H2ac1',
 'H2ac15',
 'H2ac18',
 'H2ac21',
 'H2ac4',
 'H2ac6',
 'H2aj',
 'H2al1j',
 'H2al1m',
 'H2al1n',
 'H2al1o',
 'H2al2a',
 'H2al2b',
 'H2al3',
 'H2ap',
 'H2aw',
 'H2ax',
 'H2az1',
 'H2az2',
 'Macroh2a1',
 'Macroh2a2',
 'Rnaseh2a',
 'Ush2a']